body::before {
	content: "";
	background: url('img/background.jpg') center center no-repeat;
	background-size: cover;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}

h1, h2, h3, p, a {
  font-family:'Josefin Slab', 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h3 {
	color: #696969;
}

div.transbox
{
  width: 338px;
  height: 204px;
  margin:auto;
  background-color: #ffffff;
  border: 1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
}



div.transbox p
{
	text-align: center;
  	margin-top: 30px;
}

.row {
	margin-top:30px;
}