.logos {
    height: 4em;
    margin: 1em 0em;
}

.logos img {
    height: 100%;
}

.navbar-default {
    margin: 1em 0em;
}

.carousel {
    background-color: black;
}

.carousel .item img {
    float: none;
    margin: 0 auto;
}

.team-avatar {
    float: left;
    max-width: 10em;
    max-height: 10em;
    margin: 0.5em 1em 0em 0em;
}

/* clearfix hack
 * https://www.w3schools.com/css/css_float.asp */
.team-member::after {
    content: "";
    clear: both;
    display: table;
}

.team dt {
    float: left;
    margin-right: 0.25em;
    position: relative;
    top: 1px;
}

a.external {
    padding-right: 13px;
    background: url('/images/external.png') no-repeat 100% 67%;
}
