---
---

{% include header.html %}

<h1>Documentation</h1>

<p>This page will describe how to install, use, and contribute to COAL.</p>

<h2>Dependencies</h2>

<p>This section will document any dependencies required by COAL.</p>

<h2>Installation</h2>

<p>This section will describe how to install the Python COAL package <a href="https://pypi.python.org/pypi/pycoal"><code>pycoal</code></a> from the Python Package Index (PyPI).</p>

<h2>Usage</h2>

<p>This section will demonstrate basic usage of the Python COAL library and link to the detailed <a href="https://pycoal.readthedocs.io/en/latest/">API reference</a>.</p>

<h2>Development</h2>

<p>This section will discuss how to contribute to the project through our <a href="https://github.com/capstone-coal">GitHub Organization</a> and refer to the COAL <a href="https://github.com/capstone-coal/pycoal/wiki">wiki</a> for development documentation.</p>

{% include footer.html %}
