---
---

{% include header.html %}

<h1>Publications</h1>

<p>Here you can find all COAL publications, they are ordered in reverse chronological order.</p>

<ul>
	<li><a href="/publications/bids2017_coal.pdf">McGibbney, L. J., Brown, T. A., Clayton, H. A., Wang, X. (2017) "COAL AND OPEN-PIT MINING IMPACTS ON AMERICAN LANDS (COAL): A PYTHON LIBRARY FOR PROCESSING HYPERSPECTRAL IMAGERY", <i>2017 Conference on Big Data from Space (BiDS'17) Research, Technology and Innovation</i>, 28-30 November 2017 Centre de Congrès Pierre Baudis, Toulouse, France</a></li>
	<li><a href="/publications/hyspiri_workshop_poster.pdf">McGibbney, L. J., Brown, T. A., Clayton, H. A., Wang, X. (2017) "COAL AND OPEN-PIT SURFACE MINING IMPACTS ON AMERICAN LANDS (COAL)", <i>2017 Conference on Big Data from Space (BiDS'17) Research, Technology and Innovation</i>, 28-30 November 2017 Centre de Congrès Pierre Baudis, Toulouse, France</a></li>
	<li><a href="/publications/hyspiri_workshop_poster.pdf">McGibbney, L. J., Brown, T. A., Clayton, H. A., Wang, X. (2017) "COAL AND OPEN-PIT SURFACE MINING IMPACTS ON AMERICAN LANDS (COAL)", <i>2017 HyspIRI Science and Applications Workshop</i>, 17-19 October 2017 California Institute of Technology Beckman Institute Auditorium 1200 E California Blvd Pasadena, CA</a></li>
	<li><a href="/images/expo-poster.pdf">McGibbney, L. J., Brown, T. A., Clayton, H. A., Wang, X. (2017) "COAL AND OPEN-PIT MINING IMPACTS ON AMERICAN LANDS (COAL): A PYTHON LIBRARY FOR PROCESSING HYPERSPECTRAL IMAGERY", <i>Oregon State University Undergraduate Engineering Expo 2017</i>, 19 May 2017 Kelley Engineering Center, Johnson Hall, Oregon State University</a></li>
</ul>

<p>Contribute to the project through our <a class="external" href="https://github.com/capstone-coal">GitHub Organization</a>, refer to the COAL <a class="external" href="https://github.com/capstone-coal/pycoal/wiki">wiki</a> for development documentation, and contact the <a href="/team.html">team</a> to get involved.</p>

{% include footer.html %}
