---
---

{% include header.html %}

<h1>Team</h1>

<h2>Senior Capstone</h2>

<p>COAL is being developed as a 2016&thinsp;&ndash;&thinsp;2017 senior capstone collaboration between the Jet Propulsion Laboratory (JPL) and Oregon State University (OSU). The <a href="http://eecs.oregonstate.edu/industry-relations/capstone-and-senior-design-projects">senior capstone</a> is a three-term design project led by industry professionals and developed by undergraduate computer science students at OSU. Visit the <a href="http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?home=1">course homepage</a> for more details or keep reading to learn about our team.</p>

<h2>Members</h2>

<h3>Jet Propulsion Laboratory</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <p>Lewis is a data scientist in the Computer Science for Data Intensive Applications Group at JPL.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewis.mcgibbney@gmail.com">lewis.mcgibbney@gmail.com</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="/images/avatar-kwhitehall.jpeg" class="team-avatar img-thumbnail" />
    <h4>Kim Whitehall, Ph.D.</h4>
    <p>Kim is a tropical climate variability and climate change researcher, an educator in Climate Science, and a Climate Informatics practitioner.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/kwhitehall">kwhitehall</a></dd>
      <dt>Website:</dt>
      <dd><a href="http://www.kimwhitehall.com/">www.kimwhitehall.com</a></dd>
    </dl>
  </div>

</div>

<h3>Oregon State University</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="/images/avatar-browtayl.png" class="team-avatar img-thumbnail" />
    <h4>Taylor Alexander Brown</h4>
    <p>Taylor is majoring in computer science with an emphasis on computer systems and a minor in mathematics.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/browtayl/">browtayl</a></dd>
      <dt>Website:</dt>
      <dd><a href="http://www.teom.net/">www.teom.net</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:browtayl@oregonstate.edu">browtayl@oregonstate.edu</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="/images/avatar-heidiaclayton.png" class="team-avatar img-thumbnail" />
    <h4>Heidi Ann Clayton</h4>
    <p>Heidi is double majoring in statistics and applied computer science.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/heidiaclayton">heidiaclayton</a></dd>
    </dl>
  </div>

</div>
<div class="team row">

  <div class="team-member col-md-6">
    <img src="/images/avatar-xiaomei7.jpeg" class="team-avatar img-thumbnail" />
    <h4>Xiaomei Wang</h4>
    <p>Xiaomei is majoring in accounting with a minor in computer science.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/xiaomei7">xiaomei7</a></dd>
    </dl>
  </div>

</div>

<h2>Contact</h2>

<p>The best way to reach us is to contact us directly by email or to visit our <a href="https://github.com/capstone-coal">GitHub Organization</a>. Our geographically distributed team meets regularly by videoconference and collaborates on research and development primarily through our mailing list. You may view our messages on <a href="https://groups.google.com/forum/#!forum/coal-capstone">Google Groups</a> or ask to join, however only invited people will be able to post.</p>

{% include footer.html %}
