---
---

{% include header.html %}

<h1>Team</h1>

<h2>Senior Capstone</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?home=1">CS Senior Capstone</a>. Proin vulputate pharetra odio. Suspendisse molestie elementum dui, id placerat risus commodo sed. Ut dolor dui, mollis ut felis ut, tincidunt feugiat nulla. Suspendisse potenti. Nunc id ex pharetra quam iaculis sodales. Duis ornare, arcu nec gravida ullamcorper, arcu eros mattis sapien, vitae efficitur nibh tellus a tellus. In eget porta dui.</p>

<h2>Members</h2>

<h3>Jet Propulsion Laboratory</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <p>Lewis is a data scientist in the Computer Science for Data Intensive Applications Group at JPL.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewis.mcgibbney@gmail.com">lewis.mcgibbney@gmail.com</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="/images/avatar-kwhitehall.jpeg" class="team-avatar img-thumbnail" />
    <h4>Kim Whitehall, Ph.D.</h4>
    <p>Kim is a tropical climate variability and climate change researcher, an educator in Climate Science, and a Climate Informatics practitioner.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/kwhitehall">kwhitehall</a></dd>
      <dt>Website:</dt>
      <dd><a href="http://www.kimwhitehall.com/">www.kimwhitehall.com</a></dd>
    </dl>
  </div>

</div>

<h3>Oregon State University</h3>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="/images/avatar-browtayl.png" class="team-avatar img-thumbnail" />
    <h4>Taylor Alexander Brown</h4>
    <p>Taylor is majoring in computer science with an emphasis on computer systems and a minor in mathematics.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/browtayl/">browtayl</a></dd>
      <dt>Website:</dt>
      <dd><a href="http://www.teom.net/">www.teom.net</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:browtayl@oregonstate.edu">browtayl@oregonstate.edu</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="/images/avatar-heidiaclayton.png" class="team-avatar img-thumbnail" />
    <h4>Heidi Ann Clayton</h4>
    <p>Heidi is double majoring in statistics and applied computer science.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/heidiaclayton">heidiaclayton</a></dd>
    </dl>
  </div>

</div>
<div class="team row">

  <div class="team-member col-md-6">
    <img src="/images/avatar-xiaomei7.jpeg" class="team-avatar img-thumbnail" />
    <h4>Xiaomei Wang</h4>
    <p>Xiaomei is majoring in accounting with a minor in computer science.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/xiaomei7">xiaomei7</a></dd>
    </dl>
  </div>

</div>

<h2>Contact</h2>

<p>Quisque eu lectus molestie, faucibus risus sit amet, suscipit enim. Aenean et felis turpis <a href="https://groups.google.com/forum/#!forum/coal-capstone">Google Group</a> and <a href="https://github.com/capstone-coal">GitHub Organization</a>. Praesent commodo faucibus ipsum, vitae pharetra nisi elementum eget. Duis euismod ullamcorper quam ut venenatis. Quisque volutpat neque at enim interdum, ut blandit odio mattis. Etiam tincidunt justo non enim maximus, sed pellentesque mauris condimentum. Suspendisse eget faucibus magna. Duis id consequat nulla. Fusce at faucibus orci. Praesent vitae hendrerit augue, nec varius nisi. Mauris condimentum, diam eu ornare rhoncus, odio lectus mollis arcu, et interdum lorem justo non elit. Duis pulvinar magna ultricies nisi tincidunt, vitae gravida felis elementum. Suspendisse aliquam elit nibh, quis finibus diam pretium at. </p>

{% include footer.html %}
