---
---

{% include header.html %}

<h1>Team</h1>

<h2>Capstone</h2>

<p>COAL was originally developed as a 2016&thinsp;&ndash;&thinsp;2017 <b>Oregon State University (OSU)</b> senior capstone project. COAL development continued as a 2017&thinsp;&ndash;&thinsp;2018 senior capstone collaboration and community <b>Free and Open Source Software</b> project. The <a class="external" href="http://eecs.oregonstate.edu/industry-relations/capstone-and-senior-design-projects">senior capstone</a> is a three-term software engineering project led by industry professionals and developed by undergraduate computer science students at OSU. Visit the <a class="external" href="http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?home=1">course homepage</a> for more details or keep reading to learn about our team.</p>

<h2>Contributors</h2>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-lewismc.jpeg" class="team-avatar img-thumbnail" />
    <h4>Lewis John McGibbney, Ph.D.</h4>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/lewismc">lewismc</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:lewis.mcgibbney@gmail.com">lewis.mcgibbney@gmail.com</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-kwhitehall.jpeg" class="team-avatar img-thumbnail" />
    <h4>Kim Whitehall, Ph.D.</h4>
    <p>Kim is a tropical climate variability and climate change researcher and educator in Climate Science..</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/kwhitehall">kwhitehall</a></dd>
      <dt>Web:</dt>
      <dd><a class="external" href="http://www.kimwhitehall.com/">www.kimwhitehall.com</a></dd>
    </dl>
  </div>

</div>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-browtayl.png" class="team-avatar img-thumbnail" />
    <h4>Taylor Alexander Brown</h4>
    <p>Taylor contributed during and after Capstone 2016&thinsp;&ndash;&thinsp;2017 while majoring in computer science with an option in computer systems and a mathematics minor at OSU.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/browtayl/">browtayl</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-heidiaclayton.png" class="team-avatar img-thumbnail" />
    <h4>Heidi Ann Clayton</h4>

    <p>Heidi contributed during Capstone 2016&thinsp;&ndash;&thinsp;2017 while majoring in computer science with an applied option in statistics at OSU.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/heidiclayton">heidiclayton</a></dd>
    </dl>
  </div>

</div>
<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-xiaomei7.jpeg" class="team-avatar img-thumbnail" />
    <h4>Xiaomei Wang</h4>
    <p>Xiaomei contributed during Capstone 2016&thinsp;&ndash;&thinsp;2017 while majoring in finance and computer science at OSU.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/xiaomei7">xiaomei7</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-bdegley4789.png" class="team-avatar img-thumbnail" />
    <h4>Bryce Egley</h4>
    <p>Bryce Egley is participating in Capstone 2017&thinsp;&ndash;&thinsp;2018 while majoring in Computer Science with a concentration in Computer Systems at OSU.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/bdegley4789">bdegley4789</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:egleyb@oregonstate.edu">egleyb@oregonstate.edu</a></dd>
    </dl>
  </div>

</div>

<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-thomkenn.png" class="team-avatar img-thumbnail" />
    <h4>Kenny Thompson</h4>
    <p>Kenny Thompson is participating in Capstone 2017&thinsp;&ndash;&thinsp;2018 while majoring in Computer Science with a concentration in Computer Systems at OSU.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/thomkenn">thomkenn</a></dd>
      <dt>Email:</dt>
      <dd><a href="mailto:thomkenn@oregonstate.edu">thomkenn@oregonstate.edu</a></dd>
    </dl>
  </div>

</div>
<div class="team row">

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-kristencheung.png" class="team-avatar img-thumbnail" />
    <h4>Kristen Cheung</h4>
    <p>Kristen contributed during Capstone 2018 while majoring in computer science and business administration at USC.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/kristencheung">kristencheung</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-denimmazuki.png" class="team-avatar img-thumbnail" />
    <h4>Denim Mazuki</h4>

    <p>Denim contributed during Capstone 2018 while majoring in computer science and business administration at USC.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/denimmazuki">denimmazuki</a></dd>
    </dl>
  </div>
  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-ahuerta33.png" class="team-avatar img-thumbnail" />
    <h4>Alexa Huerta</h4>
    <p>Alexa contributed during Capstone 2018 while majoring in computer science at USC.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/ahuerta33">ahuerta33</a></dd>
    </dl>
  </div>

  <div class="team-member col-md-6">
    <img src="{{ site.baseurl }}/images/avatar-alexwyi19.png" class="team-avatar img-thumbnail" />
    <h4>Alex Yi</h4>

    <p>Alex contributed during Capstone 2018 while majoring in computer science at USC.</p>
    <dl>
      <dt>GitHub:</dt>
      <dd><a class="external" href="https://github.com/alexwyi19">alexwyi19</a></dd>
    </dl>
  </div>

</div>
<h2>Community</h2>

<p>COAL invites anyone to collaborate. Consult the GitHub contributors graphs for a complete list of committers.</p>

<h2>Contact</h2>

<p>The best way to reach us is to contact us directly by email or to visit our <a class="external" href="https://github.com/capstone-coal">GitHub Organization</a>. Our geographically distributed team meets regularly by videoconference and collaborates on research and development primarily through our mailing list. You may view our messages on <a class="external" href="https://groups.google.com/forum/#!forum/coal-capstone">Google Groups</a> or ask to join, however posting is by invitation only.</p>

{% include footer.html %}
