      <!-- footer -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/">COAL</a>
        </div>
        <div class="navbar-text pull-right">&copy; 2017 Lewis John McGibbney, Taylor Alexander Brown, Heidi Ann Clayton, &amp; Xiaomei Wang</div>
      </nav>

      <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
      <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
