<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>COAL - Coal and Open-pit surface mining impacts on American Lands</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">

      <!-- logos -->
      <div style="height:4em;margin:1em 0em;">
        <img src="/images/logo-nasa-jpl-caltech.png" style="height:100%;float:left;" />
        <img src="/images/logo-osu.png" style="height:100%;float:right;" />
      </div>

      <!-- navigation bar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">COAL</a>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="/docs">Docs</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </div>
        </div>
      </nav>
