<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>COAL - Coal and Open-pit surface mining impacts on American Lands</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
    <![endif]--> 
  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/capstone-coal/pycoal" title="Fork me on GitHub">Fork me on GitHub</a> 
    <div class="container">

      <div class="logos">
        <img src="{{ site.baseurl }}/images/logo-nasa-jpl-caltech.png" class="pull-left" />
        <img src="{{ site.baseurl }}/images/logo-osu.png" class="pull-right" />
      </div>

      <!-- navigation bar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">COAL</a>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
              <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
              <li><a href="{{ site.baseurl }}/team">Team</a></li>
              <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
              <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
            </ul>
          </div>
        </div>
      </nav>
