
<div class="header">
  <h1>
    Coal and Open-pit surface mining impacts on American Lands
  </h1>
</div>

<div class="nav">
  <div class="container">
    <ul>
      <li><a href="{{ site.baseurl }}/index"> Home </a></li>
      <li><a href="http://eecs.oregonstate.edu/capstone/cs/capstone.cgi?project=299">About</a></li>
      <li><a href="https://github.com/capstone-coal/coal">GitHub</a></li>
      <li><a href="https://hangouts.google.com/hangouts/_/event/cpc1tfvtfprd6jrpdplvjpr53v0?hl=en-GB&authuser=0">Hangout</a></li>
      <li><a href="https://groups.google.com/forum/#!forum/coal-capstone">Group</a></li>
      <li> <a href="{{ site.baseurl }}/class-paper"> papers </a> </li>
      <li> <a href="{{ site.baseurl }}/people"> People </a> <li>
    </ul>
  </div>
</div>

